@import "../../styles/colors.scss";

$column-id-max-width: 50px;

.grid-container {
  height: calc(100vh - 100px);
  width: 100%;
  overflow: auto;
  font-size: 12px;

  .grid-row {
    box-sizing: border-box;
    display: flex;
    min-height: 30px;
    border-bottom: 1px #ececec solid;
    min-width: 1020px;

    &:hover {
      background-color: #f5f5f5;
    }

    &:nth-child(odd) {
      background-color: #fcfdfe;
    }

    &.header-grid-row {
      height: 40px;
      position: sticky;
      top: 0;
      background-color: $grey-color;
    }
  }

  .grid-cell {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    &:not(.header-grid-cell) {
      overflow: hidden;
    }

    &.header-grid-cell {
      font-weight: bold;
      cursor: pointer;
      position: relative;

      &:hover {
        background-color: $grey-accent-color;
      }
    }

    &.grid-cell-number {
      justify-content: flex-end;
    }

    &.grid-cell-string {
      justify-content: flex-start;
    }

    &.grid-cell-boolean:after {
      content: '';
    }

    &.grid-cell-boolean.active:after {
      content: '\2713';
      color: $success-main-color;
    }

    .sort-arrow-icon {
      margin-left: 2px;
      transform: rotate(90deg);

      &:hover {
        //background-color: rgba($background-default-color, 0.2);
      }

      &.desc {
        transform: rotate(270deg);
      }
    }

    .search-icon {
      position: absolute;
      right: 5px;
      //font-size: 1rem;
      cursor: pointer;

      &:hover {
        transform: scale(1.15);
      }

      path {
        fill: $background-paper-color;
      }
    }

    .inner-grid-cell {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.search-filter {
  .search-filter-close-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .filter-block {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 5px;
    box-sizing: border-box;
    background-color: $background-paper-color;
    width: 180px;
    z-index: 1;

    input[name="column-filter"] {
      width: 96%;
      height: 20px;
      margin-bottom: 10px;
    }

    .search-filter-buttons {
      display: flex;
      justify-content: space-between;

      button {
        height: 24px;
        width: 48%;
        cursor: pointer;
      }
    }
  }
}

