$primary-light-color: #4791db;
$primary-main-color: #1976d2;
$primary-dark-color: #115293;
$secondary-light-color: #e33371;
$secondary-main-color: #dc004e;
$secondary-dark-color: #9a0036;
$error-light-color: #e57373;
$error-main-color: #f44336;
$error-dark-color: #d32f2f;
$warning-light-color: #ffb74d;
$warning-main-color: #ff9800;
$warning-dark-color: #f57c00;
$info-light-color: #64b5f6;
$info-main-color: #2196f3;
$info-dark-color: #1976d2;
$success-light-color: #81c784;
$success-main-color: #4caf50;
$success-dark-color: #388e3c;
$text-primary-color: #fff;
$text-secondary-color: rgba(255, 255, 255, 0.7);
$text-disabled-color: rgba(255, 255, 255, 0.5);
$background-default-color: #303030;
$background-paper-color: #424242;
$grey-color: #cacaca;
$grey-accent-color: #a0a0a0;


